<header-web  (dataEvent)='setLanguage($event)'></header-web>
<header class="container-fluid px-0">
    <div id="carousel-1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" style="max-height: 600px !important;">
            <img src="../../assets/image/carrousel-1.jpg" class="d-block w-100 filto-1" alt="...">
            <div class="carousel-caption d-none d-md-block text-white carrousel-top">
              <div class="container p-5">
                  <h1>Modalidad Avanzada</h1>
                  <p>Para aquellos con 18 años de edad a mas enfocado en la coulminacion de la secundaria de lo mas pronto posible</p>
            </div>
            </div>
          </div>
          <div class="carousel-item" style="max-height: 600px !important;">
            <img src="../../assets/image/carrousel-2.jpg" class="d-block w-100 filto-1" alt="...">
            <div class="carousel-caption d-none d-md-block text-white carrousel-top">
              <div class="container p-5">
                <h1>Modalidad Virtual</h1>
                <p>Para aquellos que se encuentres en cualquier lugar del Peru</p>
            </div>
            </div>
          </div>
          <div class="carousel-item" style="max-height: 600px !important;">
            <img src="../../assets/image/carrousel-3.jpg" class="d-block w-100 filto-1" alt="...">
            <div class="carousel-caption d-none d-md-block text-white carrousel-top">
                <div class="container p-5">
                    <h1>Modalidad Semi Presencial</h1>
                    <p>Para personas que tienen que trabajar y por muchos motivos no pudieron culminar en su debido momento</p>    
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</header>
<section class="container">
    
</section>
<footer-web></footer-web>
